@model PaymentSystem.Adapter.ServiceChargeViewModel
@{
    ViewData["Title"] = "ServiceCharge";
}

<h1>ServiceCharge</h1>

<h4>ServiceChargeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetServiceCharge">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargeDate" class="control-label"></label>
                <input asp-for="ChargeDate" class="form-control" />
                <span asp-validation-for="ChargeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
